<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

  <targets>
	<!--     
	<target name="file_debug" xsi:type="File" encoding="utf-8" fileName="${processname:fullName=True}.DEBUG.log" layout="[${longdate}|${level:uppercase=true}|${callsite:className=True:fileName=True:includeSourcePath=False:methodName=True}] ${message}"/>
    <target name="file_info" xsi:type="File" encoding="utf-8" fileName="${processname:fullName=True}.INFO.log" layout="[${longdate}|${level:uppercase=true}|${callsite:className=True:fileName=True:includeSourcePath=False:methodName=True}] ${message}"/>
    <target name="file_warn" xsi:type="File" encoding="utf-8" fileName="${processname:fullName=True}.WARNING.log" layout="[${longdate}|${level:uppercase=true}|${callsite:className=True:fileName=True:includeSourcePath=False:methodName=True}] ${message}"/>
    <target name="file_error" xsi:type="File" encoding="utf-8" fileName="${processname:fullName=True}.ERROR.log" layout="[${longdate}|${level:uppercase=true}|${callsite:className=True:fileName=True:includeSourcePath=False:methodName=True}] ${message}"/>
	-->
	<target name="file" xsi:type="File" encoding="utf-8" fileName="${processname:fullName=True}.log" layout="[${longdate}|${level:uppercase=true}|${callsite:className=True:fileName=True:includeSourcePath=False:methodName=True}] ${message}"/>
    <target name="console" xsi:type="ColoredConsole" layout="${message}"/>
  </targets>

  <rules>
	<!--   
    <logger name="*" maxlevel="Debug" writeTo="file_debug" />
    <logger name="*" minlevel="Info" maxlevel="Info" writeTo="file_info" />
    <logger name="*" minlevel="Warn" maxlevel="Warn" writeTo="file_warn" />
    <logger name="*" minlevel="Error" writeTo="file_error" />
	-->
	<logger name="*" writeTo="file" />
	<logger name="*" minlevel="Info" writeTo="console" />
  </rules>

</nlog>